.container-interest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 10px;
}

.interest {
    height: 100px;
    border-radius: 10px;
    padding: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .interest-btn {
    background-color: transparent;
    color: rgb(10, 10, 10);
    border: 1px solid #505152;
    padding: 0.2em 0.4em;
    width: fit-content;
  }