.avatar {
  width: 150px;
  height: 150px;
  margin: 2em auto 15em auto;
  background-color: #898989;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skip_button {
  margin-top: 2em;
  font-weight: 700;
  text-align: center;
}
